pkgbase = parallel-harness-pets-bin
	pkgdesc = A creature for every coding agent, in a den for every git worktree
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/TevvvB/parallel-harness-pets
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = parallel-harness-pets
	provides = pets
	conflicts = parallel-harness-pets
	conflicts = pets
	options = !strip
	source_x86_64 = parallel-harness-pets_0.2.1_linux_amd64.tar.gz::https://github.com/TevvvB/parallel-harness-pets/releases/download/v0.2.1/parallel-harness-pets_0.2.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 61f6d8e03966bcafba994b00c40d5a124e15dcd30df2a40a7d919d4c79910ab7
	source_aarch64 = parallel-harness-pets_0.2.1_linux_arm64.tar.gz::https://github.com/TevvvB/parallel-harness-pets/releases/download/v0.2.1/parallel-harness-pets_0.2.1_linux_arm64.tar.gz
	sha256sums_aarch64 = e204b76a9626c6c454b5130ea5aac1117ee5828f7b58555c5c61f337b22fbc55

pkgname = parallel-harness-pets-bin
